<footer class="footerbar">
  <div>
    <fa-icon [icon]="facebook" class="icon"></fa-icon>
    <fa-icon [icon]="instagram" class="icon"></fa-icon>
    <fa-icon [icon]="twitter" class="icon"></fa-icon>
  </div>
  <div class="details">
    <div class="details-content">
      <h3>&copy; Akhil Lakkimsetti::2022</h3>
      <h3>Viewzen Labs Pvt Ltd</h3>
    </div>
    <div class="details-content">
      <h3>Web Development Engineer</h3>
      <h3>HTML,CSS, JS, ReactJS, Angular, SQL </h3>
    </div>
  </div>


</footer>
