<div class="Home">

  <div  class="card card-1">
    <h1 class="heading">Weather App</h1>
    <p class="paragraph">Check the weather for your current location or in other places</p>
    <button routerLink="/weather" routerLinkActive="active" class="btn">Search For Weather</button>
  </div>

  <div  class="card card-2">
    <h1 class="heading">Calculateor</h1>
    <p class="paragraph">Click on our Calculator to make your life easier by solving simple arithmetic operations</p>
    <button routerLink="/calculator" routerLinkActive="active" class="btn">Calculate your Math</button>
  </div>
  <div  class="card card-3">
    <h1>Keep Your Tasks safe</h1>
    <p class="c-3-paragraph">Quickly capture what's on your mind and save for later</p>
    <button routerLink="/todo-list" routerLinkActive="active" class="btn">Create Your Tasks</button>
  </div>
</div>
